---
export interface Props {
  title: string;
  description?: string;
  date?: string;
  variant?: "default" | "past-events" | "venue" | "schedule";
}

const { title, description, date = "", variant = "default" } = Astro.props;
---

<section class="py-12 px-4 bg-white">
  <div class="max-w-6xl mx-auto text-center">
    <h1 class="text-3xl md:text-6xl font-bold gradient-text mb-4">
      {title}
    </h1>
    <div
      class="w-32 h-1 mx-auto mt-2 rounded-full bg-gradient-to-r from-green-300 to-green-500"
    >
    </div>

    {
      description && (
        <p class={`max-w-3xl mx-auto mt-4 text-gray-600 text-lg`}>
          {description}
        </p>
      )
    }

    {
      variant === "schedule" && date && (
        <div class="flex justify-center mt-8">
          <div class="bg-green-500 text-white px-8 py-3 rounded-full font-semibold">
            {date}
          </div>
        </div>
      )
    }
  </div>
</section>
